capyb*
tags
log/*.log
tmp/**/*
doc/api
tmp/*
*.swp
doc/app
.idea
*.sqlite3
*.DS_Store
db/*.sqlite3
public/stylesheets/compiled
rerun.txt
lib/phonegap/android/assets/www
lib/phonegap/android/assets/www-old
lib/phonegap/android/bin
lib/phonegap/android/gen
lib/phonegap/android/local.properties
lib/tasks/specs.rake

dsa_priv.pem
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
VersionX-revision.h
lib/phonegap/ios/build/
lib/phonegap/ios/www-old/
*.[oa]
*~.nib
*.swp
*~
*(Autosaved).rtfd/
vendor/bundle
.bundle
logFile
.sass-cache/
config/database.yml
app/assets/images/ja_remove*
.rbenv-*
*.rdb
logfile
db/sphinx/*
log/searchd.*
config/development.sphinx.conf
fixtures
config/unicorn.development.rb

